<footer
  class="text-center bg-black lg:text-left mt-4">
  <div class="p-4 text-center text-white">
    © 2023 Copyright:
    <a
      class="text-white"
      href="https://tailwind-elements.com/"
      >Zoula Events</a
    >
  </div>
</footer>